@inherits LayoutComponentBase

<div class="page">
    <main>
         <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand"   href="/"   >Task_5</a>
                </div>
            </nav>
        </header>
        <article class="content px-4">
            @Body
        </article>
        <footer class="border-top footer text-muted">
            <div class="container">
                 <p class="m-2">2022 - Itransition Task_5 </p>
            </div>
        </footer>
    </main>
   @* <script src="~/js/site.js"  ></script>*@
</div>


